header{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: #00274C;
  color: #FFF;
  font-family: "New Century Schoolbook", serif;
  font-style:normal;
  font-size: 30px;

}
.resume{
  padding-bottom: 150px;
}
.resume iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 700px;
  align: "middle";
}
.resume h1{
  text-align: center;
  color: #00274C;
  font-family:"Rock Salt";
  font-size: 35px;
  text-shadow: 2px 2px #A8A8A8;
}
.nav_links{
  display:flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}
.fa-instagram{
  font-size: 30px;
  width: 50px;
  color: white;
}
ul{
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  padding: 0;
}
.current{
  text-decoration: underline;
}

.parallax{
  background-image: url("images/paw.jpg");
  height: 500px;
}
.nav_item a {
  text-decoration: none;
  padding-right: 15px;
}
/* nav li a .nav_links{
  text-decoration: none;
} */
 h1{
  text-align: center;
  color: #00274C;
  font-family:"Rock Salt", Lato, sans-serif;
  font-size: 35px;
  text-shadow: 2px 2px #A8A8A8;
}

.gallery img{
  margin-top: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
  /* vertical-align: middle; */
  width: 75%;
  /* width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly; */
  box-shadow: 5px 5px 2.5px #A8A8A8;

  /* align-items: center;
  justify-content: center; */
  /* max-width: 500px; */
  /* image-orientation: from-image; */
}
.gallery img:hover{
  /* opacity: 0.5; */
  filter: sepia();
}
/* Flip Card */
.flip-card{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;


}
.flip-card-inner{
  postion: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flipcard-inner:focus{
  transform:rotateY(-180deg);
}
.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 5px 5px 2.5px #A8A8A8;
}
.flip-card-front{
  background-color: #bbb;
  color: black;
}
.flip-card-front img{
  width: 300px;
  height: 300px;
}
.flip-card-back{
  font-family: "lato";
  font-size: 20px;
  background-color: #bbb;
  color: #00274C;
  transform: rotateY(180deg);
}
.flip-card-back:focus{
  transform: rotateY(-180deg);
}
fieldset{
  border-radius: 15px;
}
legend{
  align-items: center;
}
.parallax{
  background-image: url("../images/parallax1.jpeg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.par1{
  background-color: #E8E8E8;
  font-family: "lato";
  font-size: 20px;
  color: #00274C;
  padding: 15px;
}
.parallax2{
  background-image: url("../images/parallax2.jpeg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.par2{
  background-color: #E8E8E8;
  font-family: "lato";
  font-size: 20px;
  color: #00274C;
  padding: 15px;
}
.parallax3{
  background-image: url("../images/parallax3.jpeg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.par3{
  background-color: #E8E8E8;
  font-family: "lato";
  font-size: 20px;
  color: #00274C;
  padding: 15px;
}
.gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;

}
.gallery p{
  text-align: center;
  font-size: 30px;
}
.videogallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 5px 5px;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 100px;
}
a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
nav a{
  color: #FFF;
  font-family: sans-serif;
  font-size: 20px;
}
main h1{
    align-items: center;

  }
/* Animation */
.typewriter h1{
  /* align-items: center; */
  overflow: hidden;
  font-family: "New Century Schoolbook", serif;
  color: white;
  text-shadow: 2px 2px #A8A8A8;
  border-right: .15em solid #00274C;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    type 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  }

  @keyframes type{
    from{width: 0}
    to{width: 100%};
  }

  @keyframes blink-caret{
    from, to {border-color: transparent}
    50% {border-color: #00274C;}
  }
/* @-webkit-keyframes typewriter{
  from{width: 0;}
  to{width:100%;}

} */
.form{
  padding: 50px;
}

fieldset{
  box-shadow: 10px 10px 5px #b4b4b4;
}
button{
  padding: 12px 20px;
  background-color: white;
  color: #00274C;
  width: 15%;
  display: inline-block;
  border: 2px solid #00274C;
  text-align: center;
  cursor: pointer;
}
button:hover{
  background-color: #00274C;
  color: white;
}

input, textarea, select{
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: #B0C4DE;
  font-size: 16px;
}
input, select{
  vertical-align: middle;
}
input{
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  display: inline-block;
  text-align: start;
  border-width: 2px;

}






footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00274C;
  color: #FFF;
  text-align: center;
  padding-bottom: 20px;

}

@media only screen and (min-width:780px ){
  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  .typewriter h1{
    font-size: 40px;
  }
  .nav_item{
    display: flex;
    justify-content: space-between;
  }
  .container{
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    padding-bottom: 50px;
  }
   .gallery{
    flex: 100%;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 150px;
  }
  .gallery img{
    width: 35%;
    flex-wrap: wrap;
  }
  .videogallery{
    grid-template-columns: auto auto;
    /* grid-template-rows: auto; */
    /* overflow: hidden; */
    justify-content: center;
    align-items: center;
  }
  .videogallery video{
    padding: 10px;
    width: 22%;
  }
  .flipcard .flipcard img{
    width: 350px;
    width: 350px;
  }




  }



 @media only screen and (min-width: 900px){
  header{
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .typewriter h1{
    font-size: 60px;
  }
  .nav_links{
    display: flex;
  }
  .gallery{
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 150px;
  }
  .gallery img{
    width: 30%;
    flex-wrap: wrap;
  }
.videogallery{
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.flipcard .flipcard img{
  width: 500px;
  height: 500px;
}

@media screen and (prefers-reduced-motion: reduce){
  .typewriter h1{
    animation: none;
  }
}
